<p>Hello <%= @task.user_username %>,</p>
<br/>
<p>A task was added to one of your projects! </p>
<br/>
<p>Project: <%= @task.project.title %></p>
<br/>
<p>Task: <%= @task.description %></p>
<br/>
<p>Regards, Blunderbuss Management</p>