<%= form_for [@project, @comment], remote: true do |f| %>
<div class="container">
  <div class="col-md-6 text-center">
    <%= f.text_field :body, class: "form-control" %>
  </div>
  <div class="col-md-1">
    <%= f.submit class: "btn btn-warning" %>
  </div>
</div>
<% end %>