
<div class="col-md-12 large-text whitetext text-center">
  About Me
</div>

<div class="col-md-12">
  <hr>
</div>

<div class="container">

<div class="col-md-6">
  <%= image_tag ("coop.jpg"), class: "coop", style: ("height:400px;") %>
</div>

<div class="col-md-6 yellowtext medium-text">
<br>
hey whats up this is the about page where you can view a picture of me.
<br>
<br>
It's a real dark picture of me yeah, I know. Way better than some people though man, not the worst looking guy in the world. Probably best pic in the class I'd wager. Might even be worth extra marks.
<br>
<br>

<div class="whitetext text-center">
Cooper Dean // cooperdean30@gmail.com
</div>

</div>

<div class="col-md-12">
  <hr>
</div>

</div>