
<div class="col-md-12 large-text whitetext text-center">
  About Me
</div>

<div class="col-md-12">
  <hr>
</div>

<div class="container">

<div class="col-md-6">
  <%= image_tag ("coop.jpg"), class: "coop", style: ("height:400px;") %>
</div>

<div class="col-md-6 yellowtext medium-text">
heyo whats up this is the about page where you can view a picture of me. Yeah the picture is pretty dark and yeah it was particularily chilly that evening so I utilized my hooded sweatshirt hood feature, and yeah I simply do not have another picture of myself on my hard drive. I mean, its not the worst picture a guy could use, man at least it's actually a picture of me. Way better than some people man. Probably best pic in the class I'd say. Might even be worth extra marks.
<br>
<br>

<div class="whitetext text-center">
Cooper Dean // cooperdean30@gmail.com
</div>

</div>

</div>