body {
  font-family: Helvetica;
}

.spacer {
  height: 100px;
  color: white;
  font-size: 24px;
}

#showwell {
  height: 80px;
  text-align: center;
  border-radius: 0;
}

#showtitle {
  font-size: 18px;
  border-width: 2px;
  border-right: black;
}

#showstart {
  color: #04B45F;
}

#showend {
  color: #DF3A01;
}

#showhead {
  text-align: center;
}

#header {
  color: white;
  height: 150px;
  width: 100%;
  position: fixed;
  background: #1C1C1C;
  transition:all 0.4s;
  z-index: 1;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.75);
}

#homesplash {
  box-shadow: inset 0px -5px 29px 6px rgba(0, 0, 0, 0.75);
  background: url(starsplash.jpg);
  height: 737px;
}

#logo {
  transition:all 0.4s;
}

.splashlink {
  text-decoration: none;
  padding-left: 64px;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 200px;
}
